*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --main-color : #d9042d;
    --text-color : #020102;
    --bg-color: #fff;
}
section {
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px ;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span {
    color: rgb(137, 14, 244);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover,.navbar .active {
    color: rgb(137, 14, 244);
    border-bottom: 3px solid rgb(137, 14, 244)
}
#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: rgb(137, 14, 244);
}
.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid rgb(137, 14, 244);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transform: 0.4s;
}
.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.home {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: start;
    background: url(a5\ black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text {
    padding-left: 70px ;
    padding-top: 55px;
    
}
.home-text h1 {
    font-size: 2.4rem;
}
.u {
    color: aqua;
}
.home-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.2rem;
}
.btn {
    padding: 10px 22px;
    background: aqua;
    color: rgb(250, 250, 250);
    border-radius: 10% 10% 81%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
.btn:hover {
    background: rgb(137, 14, 244);
}
.heading{
    text-align: center;
}
.heading span{
    font-style: italic;
    font-weight: 500;
    color: rgb(137, 14, 244);
    font-size: x-large;
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
    margin-left: 2.7rem;
    margin-right: 2.7rem;
}
.cars-container{
    display: flex;
    flex-wrap:wrap ;
    gap: 2rem;
    margin-top: 2rem;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 0.2rem;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    padding: 6px;
    border-radius: 0.5rem;
    background: var(--bg-color);
    
}
.cars-container .box:hover h2 {
    background:rgb(137, 14, 244) ;
    color: var(--bg-color);
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;
}
.about-text{
    flex: 1 1 21rem; 
}
.about-text span {
    font-weight: 500;
    color: rgb(137, 14, 244);
    font-size: x-large;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}
.parts-container .box img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-fit: center;
    margin-bottom: 1rem;
}
.parts-container .box span {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(3, 99, 32);
}
.parts-container .box .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    font-size: 1rem;
    color: rgb(3, 83, 3);
}
.parts-container .box .details:hover{
    color: rgb(117, 18, 142);
    text-decoration: underline;
}

.blog-container{
    background-color: #d9042d;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    color: #d9042d;
}
.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.blog-container .box:hover {
    background: #f6f6f6;
}
.blog-container .box span {
    font-size: 0.8rem;
    color: #020102;
}
.blog-container h3 {
    font-size: 1.2rem;
    color: #030303;
}
.blog-container p {
    font-size: 0.938rem;
    color: #020102;
    margin: 4px 0;
}
.blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: rgb(7, 7, 7);
}
.blog-container .box .blog-btn .bx {
    font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: #f50a0a;
}
.footer{
    background-color: #020102;
    color: #f6f6f6;
    border-top: 2px solid #1f115d;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social {
    display: flex;
    align-items: center;
}
.social a {
    font-size: larger;
    color: var(--bg-color);
    margin-top: 1rem;
}
.social a:hover {
    color: var(--main-color);
}
.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
footer p {
    color:#818181 ;
}
.footer-box a:hover{
    color: #f20909;
}
.footer-box{
    display: flex;
    align-items: center;
    padding top:1rem ;
    gap: 20px;
}
